<nav>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/nav.css" %}">
        <a id="navLogo" href="/eventos/">
            <img src="{% static "images/feedevent-logo-noBg.png" %}" alt="Logo de Feed Event">
            <img id="logoFade" src="{% static "images/feedevent-logo-noBg-white.png" %}" alt="Logo de Feed Event">
        </a>
        <div class="cont-menu-profile">
            <div class="usr-name">
                <i class="fa-solid fa-user"></i>
                <p class="f09">{{ CURRENT_USER.nombre }}</p>
            </div>
            <button id="navProfile">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-x"></i>
                <p class="f09">{{ CURRENT_USER.nombre }}</p>
            </button>
            <ul class="cont-nav-menu">
                <li>
                    <a href="{% url 'usuarios:profile' %}"><i class="fa-solid fa-id-card"></i> Ver Perfil</a>
                </li>
                <li>
                    <a href="#"><i class="fa-solid fa-calendar-day"></i> Actividades Pendientes</a>
                </li>
                {% if CURRENT_USER.admin %}
                    <li>
                        <a href="{% url "eventos:panel" %}"><i class="fa-solid fa-calendar-days"></i> Administrar Eventos</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'usuarios:logout' %}"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>