<!DOCTYPE html>
<html lang="es-MX">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "css/actividades_inscritas.css" %}">
    <link rel="shortcut icon" href="{% static "images/icon.png" %}" type="image/x-icon">
    <title>Actividades | Feed Event</title>
</head>
<body>
    {% include "nav.html" %}
    <main>
        <h1>Registros a eventos</h1>
        {% regroup eventos by cuando as lista_grupos %}
        {% for grupo in lista_grupos %}
            <div class="cont-publicaciones-por-fecha">
                <div class="cont-publicaciones">
                    {% for evento in grupo %}
                        <div class="card-publicacion">
                            <div class="cont-img" style="background-image: url({{ evento.imagen.url }});">
                                <div class="cont-publicacion-tags">
                                    <!--Aqui van los tags de la publicacion-->
                                    {% if evento.deportivos > 0 %}
                                        <div class="publicacion-tag tag1"><span>{{ evento.deportivos }}</span>Deportivos</div>
                                    {% endif %}
                                    {% if evento.solidarios > 0 %}
                                        <div class="publicacion-tag tag2"><span>{{ evento.solidarios }}</span>Solidarios</div>
                                    {% endif %}
                                    {% if evento.culturales %}
                                        <div class="publicacion-tag tag3"><span>{{ evento.culturales }}</span>Culturales</div>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="publicacion-titulo">{{ evento.titulo }}</p>
                            <p class="publicacion-desc">{{ evento.descr|truncatechars:50 }}</p>
                            <p class="publicacion-fecha">
                                <i class="fa-solid fa-calendar"></i>
                                {{ evento.cuando|date:"d-m-Y" }}
                            </p>
                            <p class="publicacion-hora">
                                <i class="fa-solid fa-clock"></i>
                                {{ evento.horaInicio }} - {{evento.horaFin}}
                            </p>
                            <a class="card-publicacion-btn" href="{% url "eventos:evento" evento.id %}">
                                <p>Ver más información</p>
                                <p>...</p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
                <div class="fecha-txt">
                    <p>Eventos del dia</p>
                    <p>{{ evento.cuando|date:"d - m - Y" }}</p>
                </div>
            </div>
        {% endfor %}
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static "js/nav.js" %}"></script>
    <script src="https://kit.fontawesome.com/5049a1cee4.js" crossorigin="anonymous"></script>
</body>
</html>