<!DOCTYPE html>
<html lang="es-MX">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <link rel="shortcut icon" href="{% static "images/icon.png" %}" type="image/x-icon">
    <title>FeedEvent - Inicio</title>
</head>
<body>
    {% include "nav.html" %}
    <main>
        <article class="cont-search-bar">
            <div class="cont-search-input">
                <button id="searchEvents" class="search-btn btn">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <input type="text" id="search-input" placeholder="Buscar">
            </div>
            <button class="filter-btn btn">
                <i class="fa-solid fa-x" id="filter-btn-x-icon"></i>
                <i class="fa-solid fa-filter" id="filter-btn-filter-icon"></i>
            </button>
            <div class="cont-filters">
                <div class="cont-filters-content">
                    <p class="titleFilt">Agregar Filtros</p>
                    <button class="filterTag bgTag3" data-id="3">Culturales</button>
                    <button class="filterTag bgTag2" data-id="2">Solidarios</button>
                    <button class="filterTag bgTag1" data-id="1">Deportivos</button>
                </div>
            </div>
        </article>
        <div class="cont-filters-on">
            <!-- Aqui van los filtros -->
        </div>

        <div class="titulos">
            <p>TODOS LOS EVENTOS</p>
            <p>200 eventos encontrados</p>
        </div>

        <article id="eventList" class="cont-publicaciones">
            <!-- Aqui van los eventos -->
            {% if eventos %}
                {% for evento in eventos %}
                    <div class="card-publicacion">
                        <div class="cont-img" style="background-image: url({{ evento.imagen.url }});">
                            <div class="cont-publicacion-tags">
                                <!--Aqui van los tags de la publicacion-->
                                {% if evento.deportivos > 0 %}
                                    <div class="publicacion-tag tag1"><span>{{ evento.deportivos }}</span>Deportivos</div>
                                {% endif %}
                                {% if evento.solidarios > 0 %}
                                    <div class="publicacion-tag tag2"><span>{{ evento.solidarios }}</span>Solidarios</div>
                                {% endif %}
                                {% if evento.culturales %}
                                    <div class="publicacion-tag tag3"><span>{{ evento.culturales }}</span>Culturales</div>
                                {% endif %}
                            </div>
                        </div>
                        <p class="publicacion-titulo">{{ evento.titulo }}</p>
                        <p class="publicacion-desc">{{ evento.descr|truncatechars:50 }}</p>
                        <p class="publicacion-fecha">
                            <i class="fa-solid fa-calendar"></i>
                            {{ evento.cuando|date:"d-m-Y" }}
                        </p>
                        <p class="publicacion-hora">
                            <i class="fa-solid fa-clock"></i>
                            {{ evento.horaInicio }} - {{evento.horaFin}}
                        </p>
                        <a class="card-publicacion-btn" href="{% url "eventos:evento" evento.id %}">
                            <p>Ver más información</p>
                            <p>...</p>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No hay eventos</p>
            {% endif %}
        </article>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static "js/nav.js" %}"></script>
    <script src="{% static "js/index.js" %}"></script>
    <script src="{% static "js/busqueda.js" %}"></script>
    <script src="https://kit.fontawesome.com/5049a1cee4.js" crossorigin="anonymous"></script>
</body>
</html>