<!DOCTYPE html>
<html lang="es-mx">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "css/login.css" %}">
    <title>Login | Feed Event</title>
</head>
<body>
    <main>
        <div class="mainSection">
            <div id="contVideo" class="sombra">
                <div id="textVideo">
                    <h1>Encuentra tus eventos.</h1>
                </div>
                <video id="videoBanner" autoplay loop muted>
                    <source src="{% static "videos/sportVideo.mp4" %}">
                </video>    
            </div>
        </div>
        <div class="mainSection">
            <img id="logo" src="{% static "images/feedevent-logo-noBg.png" %}" height="100" alt="">
            <form id="formReg" class="login" style="transform: translateX(95%); opacity: 0;">
                <h2>Registrar una Nueva Cuenta</h2>
                <p>¿Ya tienes una cuenta? <a id="linkLog">Iniciar Sesión</a></p>
                <input class="basicImp3" name="nombre" id="impNombre" type="text" placeholder="Nombre de Usuario" required>
                <input class="basicImp1" name="correo" id="impEmail" type="email" placeholder="Correo electrónico" required>
                <input id="pass1" class="basicImp2" name="pass" type="password" placeholder="Contraseña" required>
                <input id="pass2" class="basicImp3" name="pass2" type="password" placeholder="Confirmar contraseña" required>
                <p id="warning" style="display: none;">¡Las contraseñas, no son iguales!</p>
                <div class="basicRow">
                    <label for="salleCheck">¿Eres estudiante de la salle?</label>
                    <input type="checkbox" class="checki" id="salleCheck">
                    <label for="salleCheck"><i class="fa-solid fa-check"></i></label>
                </div>
                <div class="salleSettings" style="display: none;">
                    <input id="impMatricula" class="basicImp2" type="number" placeholder="Numero de Matricula">
                    <select id="impCarrera" name="" class="basicImp3">
                        <option value="" disabled selected>Seleccione su carrera</option>
                        <option value="Ingenieria en desarrollo de Software">Ingenieria en desarrollo de Software</option>
                    </select>
                </div>
                <button class="basicBtn2" type="submit">Registrarse</button>
            </form>
            <form id="formLogin" class="login" action="PHP/Sessions/login.php" method="POST">
                <h2>Iniciar Sesión</h2>
                <p>¿No tienes una cuenta? <a id="linkReg" >Registrarse</a></p>
                <input class="basicImp1" name="correo" type="email" placeholder="Correo electrónico" required>
                <input class="basicImp2" name="pass" type="password" placeholder="Contraseña" required>
                <button class="basicBtn2" type="submit">Iniciar Sesión</button>
                <div class="basicRowB" style="display: none;">
                    <div class="line"></div>
                    <p>Registrarse con</p>
                    <div class="line"></div>
                </div>
                <div class="basicRowB" style="display: none;">
                    <div class="brandBtn">
                        <img src="IMAGES/googleIcon.webp" height="30" alt="">
                        <p>Google</p>
                    </div>
                    <div class="brandBtn">
                        <img src="IMAGES/cosmobiusIcon.PNG" height="30" alt="">
                        <p>Cosmobius</p>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>