<!DOCTYPE html>
<html lang="es-MX">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/prefix.css" %}">
    <link rel="stylesheet" href="{% static "css/perfil.css" %}">
    <title>Perfil | Feed Event</title>
</head>
<body>
    {% include "nav.html" %}
    <main>
        <div class="profile-cont sombra">
            <div class="banner-cont"></div>
            <div class="profile-img">
                <input type="file" id="profImage" hidden>
                <label for="profImage" id="btnEditProfile">
                    <i class="fa-solid fa-image"></i>
                </label>
                <div class="profileContent">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <p id="nombre-txt">{{ CURRENT_USER.nombre }}</p>
            <div class="opcion-item">
                <p>Nombre</p>
                <div class="info-cont">
                    <i class="fa-solid fa-user"></i>
                    {{ CURRENT_USER.nombre }}
                </div>
            </div>
            <div class="opcion-item">
                <p>Correo electronico</p>
                <div class="info-cont">
                    <i class="fa-solid fa-envelope"></i>
                    {{ CURRENT_USER.correo }}
                </div>
            </div>
            <div class="opcion-item">
                <p>Carrera</p>
                <div class="info-cont">
                    <i class="fa-solid fa-book"></i>
                    {{ CURRENT_USER.carrera }}
                </div>
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/5049a1cee4.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static "js/nav.js" %}"></script>
    {% comment %} <script src="JS/nav.js?v=<?php include 'PHP/globalVersion.php'; ?>"></script>
    <script src="JS/perfil.js?v=<?php include 'PHP/globalVersion.php'; ?>"></script> {% endcomment %}
</body>
</html>